.header-bottom{
    padding: 20px;
}
.logo{
    /* top:100px; */
    width: 200px;
}
.light-logo{
    width: 290px;
}

div.form-container{
    display: flex;
    justify-content: space-around;
    padding:20px;
    background: rgb(235 235 235);
}
.box{
    display: flex;
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.3);


}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input{
    width: 600px;
    margin:5px;
    padding:10px;
    border-style: none;
    border-radius: 14px;
}
.input input{
    width:100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
}
.button{
    padding:10px;
    background-color: var(--yellow-green);
    border: none;
    border-radius: 10px;
    color:white;
}
.button:is(:hover){
    background-color: rgb(141, 228, 141);
}